*, ::after, ::before { 
    margin: 0; 
    box-sizing: border-box; 
} 
body { 
    width: 100vw; 
    height: 100vh;
    background-image: url("../images/ghostbg.jpg"); 
    background-color: gray; 
    background-blend-mode: multiply; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    text-shadow: 1px 1px 5px black; 
    display: flex; 
    justify-content: space-between; 
    flex-direction: column; 
    overflow-x: hidden; 
} 
::-webkit-scrollbar { 
    display: none;
}
/* styling the header elements   */
header img { 
    width: 50px;
} 
header { 
    color: whitesmoke; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 1em; 

} 
header a { 
    text-decoration: underline solid whitesmoke; 
    color: whitesmoke; 
    font-family: Google Sans, sans-serif; 
    font-size: 1.5rem;
} 
header ul { 
    list-style: none; 
    display: flex; 
    justify-content: space-between; 
    gap: 0.5em;
} 
/* styling the main elements  */ 
main { 
    color: whitesmoke; 
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
} 
main h1 { 
    font-size: 2rem; 
    margin: 1em 0.125em;
} 
/* styling the footer  */ 
footer { 
    margin-top: 10em; 
    align-items: center; 
    color: whitesmoke; 
    font-size: 1.25rem; 
    font-family: Google Sans, sans-serif; 
    text-align: center;
} 
/* styling elements on hover  */ 
.deco:hover, .deco:focus { 
    color: crimson; 
} 
/* styling the form  */ 
form { 
    background-color: #333333; 
    color: whitesmoke; 
    font-family: Google Sans; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 0.125em 0.5em; 
    font-size: 1.25rem; 
    padding: 0.125em 0em 0.25em 0em;  
} 
form input { 
    width: 80%; 
    padding: 1.125em 0.5em; 
    border-radius: 5px; 
    font-size: 1rem;
} 
#submit { 
    width: 60%; 
    font-family: "Nosifer"; 
    text-align: center; 
    padding: 0.25em;
} 
textarea { 
    resize: none; 
    width: 80%; 
    height: 200px; 
    font-size: 1.125rem;
} 
.form-items { 
    display: flex; 
    justify-content: space-around; 
    flex-direction: column; 
    align-items: center; 
    width: 80%; 
} 
/* making the sight listing stylized  */ 
.sight-listings { 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    background-color: #333333; 
    color: whitesmoke; 
    font-family: Google Sans, sans-serif; 
    text-align: left; 
    padding: 1.5em; 
    border: 1px solid whitesmoke;
} 
.highlight { 
    font-weight: 700;
} 
.sight-listings p { 
    margin-bottom: 0.5em;
}
#sights { 
    overflow-y: auto; 
    height: 50vh; 
}
/* now making the responsive design  */ 
@media (min-width: 540px) { 
    /* styling the form in the tablet screen form */
    form { 
        display: flex; 
        width: 90%; 
        border-radius: 1.25%; 
        flex-direction: row;
        justify-content: space-around; 
        align-items: center; 
        padding: 1.5em;
    } 
    form input { 
        border-radius: 5%; 
        margin: 0.5em;
    } 
    form textarea { 
        margin: 0.5em; 
    }
    section { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    } 
    /* stylin other contents  */ 
    h1.deco { 
        font-size: 3.5rem; 
        margin: 0.5em;
    } 
    h2.deco { 
        font-size: 2.5rem; 
    } 
    header a { 
        font-size: 1.75rem; 
    } 
    header ul { 
        gap: 3em;
    } 
    /* stylizing the sighting list  */ 
    #sights { 
        height: 80vh;
        display: grid; 
    }
} 
/* making style to the live ghost link  */ 
.live-ghost { 
    text-decoration: underline solid; 
    text-align: center; 
    color: whitesmoke; 
    font-family: Google Sans, sans-serif; 
}
/* responsible design targeting laptop/desktop screen  */
@media (min-width: 1080px) { 
    form { 
        width: 60%;
    }
}
/* responsible design targeting ultra wide screens  */ 
@media (min-width: 1600px) { 
    form { 
        width: 60%;
    }
} 
